body {
    background-color: lightgray;
    font-family: sans-serif;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.board-table {
    background-color: white;
}

.board-cell {
    height: 25px;
    width: 25px;
    border-left: 2px solid lightgray;
    border-top: 2px solid lightgray;
}

.credits {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 80%;
}

.safe {
    background-color: lightblue
}

.selected {
    background-color: lightgreen;
}

.danger {
    background-color: lightcoral;
}

.unsure {
    background-color: khaki;
}

